html{
 
    background: -webkit-linear-gradient(2405deg,#cdebf7 , #fefeff ,#fafafa);
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin: 0;
    padding: 0;

}
.main-container{
    border: 2px solid red;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    width:100%;
    height:max-content;
}


.imageField-formContainer{    
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 550px; 
    width : 100%

}
.coverPhoto{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 550px;
    width: 1369px;
    border: 2px solid blue;
    background-color: #cdebf7;
}

.coverPhoto img{
    height: 100%;
    width: 100%;
}

.coverPhoto .button{
    position: absolute;
    bottom: 10px;  /* Adjust as needed */
    right: 10px;  
    display: flex;
    flex-direction: row;
    margin: .5rem;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: .5rem;
    border: 2px saddlebrown solid;
    background:linear-gradient(#fafafa , #fffbfb , #f5ebeb);
    border-radius: 8px;
}

.coverPhoto .button .text{
    margin-left: 8px;
    margin-right: 8px;
}
.coverPhoto .button img{
    margin-left: 8px ;
    height: 16px;
    width: 16px;

}
.secondaryButton {
    position: absolute; 
    bottom: 50%; 
    

}


