html {
    background: -webkit-linear-gradient(2405deg, #cdebf7, #fefeff, #fafafa);
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

.imageField-formContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 100%;
}

.coverPhoto {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 1369px;
    background-color: #cdebf7;
}

.coverPhoto .sc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coverPhoto .sc .secondaryButton {
    position: relative;
    right: 5%;
    top: 40%;
}

.coverPhoto .sc button {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: .25rem;
    width: fit-content;
    margin-top: .75rem;
    margin: .5rem;
    padding: 1rem;
    text-align: center;
    border: 2px saddlebrown solid;
    background:linear-gradient(#fafafa , #fffbfb , #f5ebeb);
    border-radius: 8px;
}

.coverPhoto img {
    height: 100%;
    width: 100%;
}



.coverPhoto .actionButton {
    position: absolute;  
    bottom: 10px;  
    right: 10px;  
    display: flex;
    flex-direction: row;  
    align-items: flex-end;  
}
.coverPhoto .actionbutton1 {
    position: relative;
    display: inline-block;
}

.coverPhoto .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
}

.coverPhoto .actionbutton1:hover .dropdown-content {
    display: block;
}

.coverPhoto .actionbutton1 button {
    display: block;
    border: 2px rgb(2, 68, 7) solid; 
    background: transparent;
    border-radius: 8px;
    color: rgba(31, 53, 2, 0.938);  
    padding: 10px 20px;  
    cursor: pointer;  
    font-size: 16px;  
    margin-bottom: 16px;  
    margin-right: 1rem;

}

.coverPhoto .dropdown-content input[type="file"],
.coverPhoto .dropdown-content button {
    display: block;
    margin-top: 10px;
    
}


.coverPhoto .deleteButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: flex-end; 
}
.coverPhoto .deleteButton .button2 {
    display: block;
    border: 2px rgb(139, 19, 19) solid;
    background: transparent;
    color: red;
    border-radius: 8px;;  
    padding: 10px 20px;  
    cursor: pointer;  
    font-size: 16px;  
    margin-top: 10px;
}
