{% extends "layout.html" %}
{% load static %}

{% block title %}Profile{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{%static 'Site/Navbar.css'%}">
<link rel="stylesheet" href="{%static 'Site/Profile.css'%}"> 
<link rel="stylesheet" href="{%static 'Site/Profile.css'%}"> 
{% endblock css %} 



{% block body %}
<div class="navbar" >
    <div class="logo">
        <img src="{%static 'Site/images/Logo.jpg' %}" alt="Logo">
    </div>
            <div class="navigation-button">

                                <div class="button"><a href="{% url 'Site:homepageLoggedIn' %}">Home </a></div>
                        
                                <div class="button"> <a href="{% url 'Site:profile' %}">Profile </a></div>

                                <div class="button"> Tree</div>

                                <div class="button"> Memories</div>

                                <div class="button"> Activities</div>

                                <div class="button"> Search</div>
             </div>
   
    <div class="extraLinks">
       
            <div class="border">
                <div class="notification">
                    <img src="{% static 'Site/images/Bell.png' %}" alt="bell icon">
                </div>
            </div>
            
            <div class="border" >
                <div class="notification">
                 <img src="{% static 'Site/images/help.png' %}" alt="faq">
               </div>
            </div>

            <div class="border-image-link" >
                {% if gender == 'male' %}
                    <a href="{% url 'Site:profile' %}"><img src="{% static 'Site\images\avatarMale.jpg' %}" alt="Avatar"></a>
                {% elif gender == 'female' %}
                    <a href="{% url 'Site:profile' %}" ><img src="{% static 'Site\images\avatarFemale.jpg' %}" alt="Avatar"></a>
                  
                {% endif %}
                 
            </div>
          
            <div class="username"> 
                <p>{{user}}</p>
            </div>
               
            <div class="accountCreate-link" >
                <div class="notification">
              <a href="{% url 'Site:custom_logout' %}">Log Out</a>
              </div>
           </div>           
    </div>
</div>

<div class="main-container" style="border:2px solid blue ">
    <div class="imageField-formContainer" style="border: 2px solid yellow;">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="coverPhoto">
                {% if not img_obj.cover_photo %}
                    <div class="sc">
                        <div class="secondaryButton" onclick="document.getElementById('id_cover_photo').click();">Upload Cover Photo</div>
                        <button type="submit">Upload</button>
                    </div>
                {% elif img_obj.cover_photo %}
                    <img src="{{ img_obj.cover_photo.url }}">
                {% endif %}
                <input id="id_cover_photo" type="file" name="cover_photo" style="display:none;">

               <div class="actionButton">
                    <div class="actionbutton1">
                        <!-- Upload New Photo Form -->
                        <form action="{% url 'Site:update_cover_photo' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button type="button">Upload</button>
                            <div class="dropdown-content">
                                <input id="id_update_cover_photo" type="file" name="cover_photo">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                        <div class="actionbutton2">
                            <div class="deleteButton">
                             <!-- Delete Photo Form -->
                                    <form action="{% url 'Site:delete_cover_photo' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="button2">Delete Photo</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                     <!-- Profile Photo Form -->
                    <div class="profileContainer">
                        <div class="profilePhoto">
                          <form action="{% url 'Site:update_profile_photo' %}" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              {% if not img_obj.profile_photo %}
                              <div class="sc">
                                  <div class="secondaryButton" onclick="document.getElementById('id_update_profile_photo').click();">Upload Profile Photo</div>
                                  <button type="submit">Upload</button>
                              </div>
                          {% elif img_obj.profile_photo%}
                              <img src="{{img_obj.profile_photo.url}}">
                          {% endif %}
                          <input id="id_update_profile_photo" type="file" name="profile_photo" style="display:none;"> 
                          </form>
                      </div>
                  </div> 
              </div>   
            </form>  
          
    </div>  
 
</div>

{% endblock body %}
